<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <script src="/static/final.js"></script>
    <script src="https://kit.fontawesome.com/74c0b2949d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/final1.css">
</head>
<body>
    <div class="slidebar" id="slidebar">
        <div class="user">
        <i id="ico" class="fa-regular fa-user "></i>
        <h3 id="head">{{UserName}}</h3>
    </div>
        <ul>
            <li class="list active">
                <a href="/home">
                    <span class="icon"><i class="fa-solid fa-house"></i></span>
                    <span class="title" id="title1">Home</span>
                </a>
            </li>
            <li class="list">
                <a href="/newsite">
                    <span class="icon"><i class="fa-solid fa-plus"></i></span>
                    <span class="title" id="title2">New Site</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon"><i class="fa-regular fa-address-card"></i></span>
                    <span class="title" id="title3">About</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon"><i class="fa-solid fa-phone"></i></span>
                    <span class="title" id="title4">Contact</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="mytoggle" onclick="changeclass(this);" >
        <ion-icon name="menu-outline" class="open"></ion-icon>
        <ion-icon name="close-outline" class="close"></ion-icon>
    </div>
    <div class="main" >
        <div class="search">
        <input type="search" id="search" name="search" placeholder="Search You Site">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
        <div class="box1" id="box1" >
            <h4>Retrive Password</h4>
            <button onclick="boxed1();">Click Here</button>
        </div>
        <form class="pop" id="pop" action="/retrive password" method="post">
            <div class="input1">
                <input type="text" id="inputField1" name="inputField1" title="Name of the Website" required onclick="valid()">
                <span id="message1">Website</span>
            </div>
            <div class="input1">
                <input type="text" id="inputField2" name="inputField2" title="User Name in that website" required onclick="valid()">
                <span id="message2">Username</span>
            </div>
            <p id="out">{{password}}</p>
            <button class="btn1">Submit</button>
            <button class="btn2" onclick="boxed1();">back</button>
        </form>
        <div class="box3" id="box3">
            <h4>Want to Delete </h4>
            <h5>Password</h5>
            <button  onclick="boxed2();">Click Here</button>
        </div>
        <form class="pop2" id="pop2" action="/delete" method="post">
            <div class="input1">
                <input type="text" id="inputField3" name="inputField3" title="Name of the Website" required onclick="valid()">
                <span id="message3">Website</span>
            </div>
            <div class="input1">
                <input type="text" id="inputField4" name="inputField4" title="User Name in that website" required onclick="valid()">
                <span id="message4">Username</span>
            </div>
            <div class="input1">
                <input type="text" id="inputField5" name="inputField5" title="Password used to login to our website" required onclick="valid()">
                <span id="message5">Password</span>
            </div>
            <p>{{result}}</p>
            <button class="btn1">Submit</button>
            <button class="btn2" onclick="boxed2();">back</button>
        </div>
        <div class="area">
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>